.App{
  padding: 0px 10px;
  background-color: #F2F4F7;
  font-family: 'Prompt', sans-serif;
}

main{
  text-align: center;
  max-width: 1200px;
  min-height: 90vh;
  margin: auto;
  padding: 10px;
}

.dashboard-user{ 
  display: flex;
  gap : 5rem; /* ช่องว่างระหว่าง Components */
  margin-right: 16rem;
  margin-left: 16rem;
  padding: 2rem 0rem;
  
}

/* ซ้าย */
.dashboard-user > :first-child {
  flex: 1; /* กินพื้นที่น้อยกว่า */
  padding-left: 2rem;
  background-color: white;
  border-radius: 20px;
}

/* ขวา */
.dashboard-user > :last-child {
  min-width: 0;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
}
